<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product Id="*"
			 Name="Techagro Sync Services"
			 Language="1033"
			 Version="1.0.0"
			 Manufacturer="Krzysztof Kurowski"
			 UpgradeCode="a073ea1b-732c-4e67-a618-52056522d543">

		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_FeatureTree" />

		<!-- Directory structure -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="TechagroSyncServices">
					<Directory Id="AgrolandDir" Name="AgrolandSyncService" />
					<Directory Id="GaskaDir" Name="GaskaSyncService" />
					<Directory Id="AmapartsDir" Name="AmapartsSyncService" />
					<Directory Id="IntercarsDir" Name="IntercarsSyncService" />
				</Directory>
			</Directory>
		</Directory>

		<!-- Features -->
		<Feature Id="MainFeature" Title="Techagro Sync Services" Level="1">
			<Feature Id="AgrolandFeature" Title="Agroland Sync Service" Level="2">
				<ComponentGroupRef Id="AgrolandComponents" />
			</Feature>
			<Feature Id="GaskaFeature" Title="Gaska Sync Service" Level="2">
				<ComponentGroupRef Id="GaskaComponents" />
			</Feature>
			<Feature Id="AmapartsFeature" Title="Amaparts Sync Service" Level="2">
				<ComponentGroupRef Id="AmapartsComponents" />
			</Feature>
			<Feature Id="IntercarsFeature" Title="Intercars Sync Service" Level="2">
				<ComponentGroupRef Id="IntercarsComponents" />
			</Feature>
		</Feature>

		<!-- Components -->
		<DirectoryRef Id="AgrolandDir">
			<Component Id="AgrolandFiles" Guid="94149b41-245f-4a81-8165-b8a9d2bfd355">
				<File Id="AgrolandEXE" Source="$(var.AgrolandSyncService.TargetPath)" KeyPath="yes" />
				<File Source="..\AgrolandSyncService\bin\Release\*.*" />
				<ServiceInstall Id="AgrolandServiceInstaller"
								Name="AgrolandSyncService"
								DisplayName="Agroland Sync Service"
								Description="Synchronization service for Agroland system."
								Start="demand"
								Type="ownProcess"
								Account="LocalSystem"
								ErrorControl="normal" />
				<ServiceControl Id="AgrolandServiceControl"
								Name="AgrolandSyncService"
								Stop="both"
								Remove="uninstall"
								Wait="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="GaskaDir">
			<Component Id="GaskaFiles" Guid="b764bad3-794f-49a6-88aa-db5c9f33b013">
				<File Id="GaskaEXE" Source="$(var.GaskaSyncService.TargetPath)" KeyPath="yes" />
				<File Source="..\GaskaSyncService\bin\Release\*.*" />
				<ServiceInstall Id="GaskaServiceInstaller"
								Name="GaskaSyncService"
								DisplayName="Gaska Sync Service"
								Description="Synchronization service for Gaska system."
								Start="demand"
								Type="ownProcess"
								Account="LocalSystem"
								ErrorControl="normal" />
				<ServiceControl Id="GaskaServiceControl"
								Name="GaskaSyncService"
								Stop="both"
								Remove="uninstall"
								Wait="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="AmapartsDir">
			<Component Id="AmapartsFiles" Guid="8bd13eea-a3b1-426d-91f9-3abd8196eab5">
				<File Id="AmapartsEXE" Source="$(var.AmapartsSyncService.TargetPath)" KeyPath="yes" />
				<File Source="..\AmapartsSyncService\bin\Release\*.*" />
				<ServiceInstall Id="AmapartsServiceInstaller"
								Name="AmapartsSyncService"
								DisplayName="Amaparts Sync Service"
								Description="Synchronization service for Amaparts system."
								Start="demand"
								Type="ownProcess"
								Account="LocalSystem"
								ErrorControl="normal" />
				<ServiceControl Id="AmapartsServiceControl"
								Name="AmapartsSyncService"
								Stop="both"
								Remove="uninstall"
								Wait="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="IntercarsDir">
			<Component Id="IntercarsFiles" Guid="ee4f3251-0f19-456a-8812-d74793e1bbc8">
				<File Id="IntercarsEXE" Source="$(var.IntercarsSyncService.TargetPath)" KeyPath="yes" />
				<File Source="..\IntercarsSyncService\bin\Release\*.*" />
				<ServiceInstall Id="IntercarsServiceInstaller"
								Name="IntercarsSyncService"
								DisplayName="Intercars Sync Service"
								Description="Synchronization service for Intercars system."
								Start="demand"
								Type="ownProcess"
								Account="LocalSystem"
								ErrorControl="normal" />
				<ServiceControl Id="IntercarsServiceControl"
								Name="IntercarsSyncService"
								Stop="both"
								Remove="uninstall"
								Wait="yes" />
			</Component>
		</DirectoryRef>

		<!-- ComponentGroups -->
		<ComponentGroup Id="AgrolandComponents">
			<ComponentRef Id="AgrolandFiles" />
		</ComponentGroup>
		<ComponentGroup Id="GaskaComponents">
			<ComponentRef Id="GaskaFiles" />
		</ComponentGroup>
		<ComponentGroup Id="AmapartsComponents">
			<ComponentRef Id="AmapartsFiles" />
		</ComponentGroup>
		<ComponentGroup Id="IntercarsComponents">
			<ComponentRef Id="IntercarsFiles" />
		</ComponentGroup>

	</Product>
</Wix>
