USE [TECHAGRO]
GO
/****** Object:  StoredProcedure [dbo].[GetProductsWithoutDescription]    Script Date: 09.11.2025 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetProductsWithoutDescription]
(
    @TopCount INT = 500
)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH Candidate AS
    (
        SELECT 
            CAST(SUBSTRING(UWAGI, CHARINDEX('GĄSKA-', UWAGI) + LEN('GĄSKA-'), LEN(UWAGI)) AS INT) AS IdProducenta,
            CASE WHEN ISNULL(OPIS,'') = '' THEN 1 ELSE 0 END AS IsEmptyOpis,
            DATA_ZM_CZ
        FROM dbo.ARTYKUL
        WHERE UWAGI LIKE 'GĄSKA-%' AND ID_MAGAZYNU = 6
    )
    SELECT TOP (@TopCount) IdProducenta
    FROM Candidate
    ORDER BY IsEmptyOpis DESC, DATA_ZM_CZ; 
END;
