USE [TECHAGRO]
GO
/****** Object:  StoredProcedure [dbo].[UpdateProductDescription]    Script Date: 09.11.2025 20:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[UpdateProductDescription]
(
    @INDEKS_KATALOGOWY NVARCHAR(100),  -- product code (unique key)
    @NowyOpis NVARCHAR(MAX)            -- new description
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ID_MAGAZYNU INT = 6;
    DECLARE @ID_MAGAZYNU_GLOWNEGO INT = 1;

    UPDATE [dbo].[ARTYKUL]
    SET OPIS = @NowyOpis
    ,DATA_ZM_CZ = DATEDIFF(DAY, '1800-01-01', GETDATE())
    WHERE INDEKS_KATALOGOWY = @INDEKS_KATALOGOWY AND ID_MAGAZYNU IN (@ID_MAGAZYNU, @ID_MAGAZYNU_GLOWNEGO);
END;

