USE [TECHAGRO]
GO
/****** Object:  StoredProcedure [dbo].[UpsertProduct]    Script Date: 25.01.2026 19:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[UpsertProduct]
(
    @ID_MAGAZYNU INT = 6,
    @ID_MAGAZYNUGLOWNEGO INT = 1,
    @ID_KATEGORII INT = 1,
    @ID_CENY_DOM INT = 2,
    @VAT_ZAKUPU     CHAR(3) = '23',
    @VAT_SPRZEDAZY  CHAR(3) = '23',
    @NAZWA NVARCHAR(255),
    @STAN DECIMAL(18,6),
    @ILOSC_EDYTOWANA DECIMAL(18,6) = 0,
    @OD_DOSTAWCOW DECIMAL(18,6) = 0,
    @DO_ODBIORCOW DECIMAL(18,6) = 0,
    @INDEKS_KATALOGOWY VARCHAR(20),
    @INDEKS_HANDLOWY VARCHAR(20) = '',
    @RODZAJ VARCHAR(10) = 'Towar',
    @KOD_KRESKOWY varchar(1000) = NULL,
    @CENA_ZAKUPU_BRUTTO DECIMAL(18,4),
    @CENA_ZAKUPU_NETTO DECIMAL(18,4),
    @CENA_SPRZEDAZY_BRUTTO DECIMAL(18,4),
    @CENA_SPRZEDAZY_NETTO DECIMAL(18,4),
    @CENA_SPRZEDAZY_BRUTTO_C DECIMAL(18,4) = null,
    @CENA_SPRZEDAZY_NETTO_C DECIMAL(18,4) = null,
    @OSTRZEZENIE VARCHAR(500) = NULL,
    @POKAZUJ_OSTRZEZENIE BIT = 0,
    @WAGA DECIMAL(18,3) = NULL,
    @JED_WAGI VARCHAR(10) = 'kg',
    @PODLEGA_RABATOWANIU BIT = 1,
    @PRODUCENT VARCHAR(50) = NULL,
    @ID_KATEGORII_TREE INT = 1,
    @ID_PRODUCENTA INT,
    @LOKALIZACJA varchar(30) = NULL,
    @SEMAFOR INT = NULL,
    @UNIT varchar(10),
    @CATEGORIES varchar(1000) = NULL,
    @INTEGRATION_COMPANY varchar(50) = 'GĄSKA',
    @Result INT = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET @Result = 0;
    DECLARE @ProductId INT;
    DECLARE @DATE INT = DATEDIFF(DAY, '1800-01-01', GETDATE())
    DECLARE @JM int = (Select top 1 isnull(ID_JEDNOSTKI,1) from JEDNOSTKA where SKROT = @UNIT and ARCHIWALNA = 0 and WZORZEC_INNEJ = 0 and ID_FIRMY = 1 and ID_ARTYKULU is NULL)
    DECLARE @ProductProdId INT;
    DECLARE @EAN VARCHAR(20);
    DECLARE @Eans TABLE (Ean VARCHAR(20));
    SET @Categories = REPLACE(ISNULL(@CATEGORIES, ''), '|', CHAR(13) + CHAR(10));
    SET @EAN = NULL;
    IF (@KOD_KRESKOWY IS NOT NULL AND LTRIM(RTRIM(@KOD_KRESKOWY)) <> '')
        SET @EAN = LTRIM(RTRIM(CASE WHEN CHARINDEX(',', @KOD_KRESKOWY) > 0 THEN SUBSTRING(@KOD_KRESKOWY, 1, CHARINDEX(',', @KOD_KRESKOWY) - 1) ELSE @KOD_KRESKOWY END));

    IF (@KOD_KRESKOWY IS NOT NULL AND LTRIM(RTRIM(@KOD_KRESKOWY)) <> '')
    BEGIN
        INSERT INTO @Eans(Ean)
        SELECT DISTINCT LTRIM(RTRIM([value]))
        FROM STRING_SPLIT(@KOD_KRESKOWY, ',')
        WHERE LTRIM(RTRIM([value])) <> '';
    END

    -- INSERT/UPDATE DO MAGAZYNU GĄSKI
    IF EXISTS (SELECT 1 FROM [dbo].[ARTYKUL] WHERE INDEKS_KATALOGOWY = @INDEKS_KATALOGOWY and ID_MAGAZYNU = @ID_MAGAZYNU)
    BEGIN
        SET @ProductId = (SELECT ID_ARTYKULU FROM [dbo].[ARTYKUL] WHERE INDEKS_KATALOGOWY = @INDEKS_KATALOGOWY and ID_MAGAZYNU = @ID_MAGAZYNU)
        -- Update existing
        UPDATE [dbo].[ARTYKUL]
        SET
            NAZWA = LEFT(@NAZWA,40),
            NAZWA_ORYG = LEFT(@NAZWA,200),
            NAZWA2 = LEFT(SUBSTRING(@NAZWA, 41, LEN(@NAZWA)),190),
            KOD_KRESKOWY = @EAN,
            CENA_ZAKUPU_BRUTTO = @CENA_ZAKUPU_BRUTTO,
            CENA_ZAKUPU_NETTO = @CENA_ZAKUPU_NETTO,
            WAGA = @WAGA,
            ID_CENY_DOM = @ID_CENY_DOM,
            JED_WAGI = @JED_WAGI,
            NAZWA_INTRASTAT = LEFT(@NAZWA,250),
            PRODUCENT = @PRODUCENT,
            UWAGI = CAST(@CATEGORIES AS VARCHAR(1000)),
            POLE1 = CAST(@INTEGRATION_COMPANY + '-' + CAST(@ID_PRODUCENTA AS VARCHAR(20)) AS VARCHAR(100)),
            INDEKS_PRODUCENTA = @INDEKS_KATALOGOWY,
            INDEKS_HANDLOWY = isnull(@INDEKS_HANDLOWY,''),
            STAN = @STAN
        WHERE @ProductId = ID_ARTYKULU and ID_MAGAZYNU = @ID_MAGAZYNU;
        IF @@ROWCOUNT > 0
            SET @Result = 2 -- Updated;
    END
    ELSE
    BEGIN
        SET @ProductId = (SELECT ISNULL(MAX(ID_ARTYKULU),0) + 1 FROM [dbo].[ARTYKUL]);
        SET @ProductProdId = ISNULL(
            (SELECT TOP 1 ID_ARTYKULU 
             FROM [dbo].[ARTYKUL] 
             WHERE INDEKS_KATALOGOWY = @INDEKS_KATALOGOWY
             ORDER BY ID_ARTYKULU), @ProductId
        );
        -- Insert new
        INSERT INTO [dbo].[ARTYKUL] 
        (
            ID_ARTYKULU, ID_ARTYKULU_Prod,
            ID_MAGAZYNU, ID_KATEGORII,
            ID_CENY_DOM, VAT_ZAKUPU, VAT_SPRZEDAZY,
            NAZWA, NAZWA_ORYG, NAZWA2,
            STAN, ILOSC_EDYTOWANA, OD_DOSTAWCOW, DO_ODBIORCOW,
            INDEKS_KATALOGOWY, INDEKS_HANDLOWY, RODZAJ, KOD_KRESKOWY,
            CENA_ZAKUPU_BRUTTO, CENA_ZAKUPU_NETTO, OSTRZEZENIE, POKAZUJ_OSTRZEZENIE,
            WAGA, JED_WAGI, PODLEGA_RABATOWANIU, NAZWA_INTRASTAT,
            PRODUCENT, ID_KATEGORII_TREE, UWAGI, DATA_ZM_CZ,
            LOKALIZACJA, SEMAFOR, INDEKS_PRODUCENTA, ID_JEDNOSTKI, ID_JEDNOSTKI_INTRASTAT,
            ID_JEDNOSTKI_REF, ID_JEDNOSTKI_SPRZ, ID_JEDNOSTKI_ZAK, POLE1
        )
        VALUES
        (
            @ProductId, @ProductProdId,
            @ID_MAGAZYNU, @ID_KATEGORII,
            @ID_CENY_DOM, @VAT_ZAKUPU, @VAT_SPRZEDAZY,
            LEFT(@NAZWA,40), CAST(@NAZWA AS VARCHAR(200)), LEFT(SUBSTRING(@NAZWA, 41, LEN(@NAZWA)),190),
            @STAN, @ILOSC_EDYTOWANA, @OD_DOSTAWCOW, @DO_ODBIORCOW,
            LEFT(@INDEKS_KATALOGOWY,20),LEFT(isnull(@INDEKS_HANDLOWY,''),20), @RODZAJ, @EAN,
            @CENA_ZAKUPU_BRUTTO, @CENA_ZAKUPU_NETTO, @OSTRZEZENIE, @POKAZUJ_OSTRZEZENIE,
            @WAGA, @JED_WAGI, @PODLEGA_RABATOWANIU, CAST(@NAZWA AS VARCHAR(250)),
            @PRODUCENT, @ID_KATEGORII_TREE, CAST(@CATEGORIES AS VARCHAR(1000)), @DATE,
            @LOKALIZACJA, @SEMAFOR, @INDEKS_KATALOGOWY, isnull(@JM,1), isnull(@JM,1), isnull(@JM,1), isnull(@JM,1), isnull(@JM,1), CAST(@INTEGRATION_COMPANY + '-' + CAST(@ID_PRODUCENTA AS VARCHAR(20)) AS VARCHAR(100))
        );
        SET @Result = 1 -- Insert;
    END

    -- Upsert price B
    IF EXISTS (SELECT 1 FROM [dbo].[CENA_ARTYKULU] WHERE ID_ARTYKULU = @ProductId AND ID_CENY = 2)
    BEGIN
        UPDATE [dbo].[CENA_ARTYKULU]
        SET 
            SYM_WAL = '',
            PRZELICZNIK_WAL = 1,
            OBL_WG_CEN_ZAK = 0,
            CENA_NETTO = @CENA_SPRZEDAZY_NETTO,
            CENA_BRUTTO = @CENA_SPRZEDAZY_BRUTTO,
            UWAGI = '',
            AKT_CEN_PRZY_DOSTAWIE = 1
        WHERE ID_ARTYKULU = @ProductId AND ID_CENY = 2;
    END
    ELSE
    BEGIN
        INSERT INTO [dbo].[CENA_ARTYKULU] (ID_ARTYKULU, ID_CENY, SYM_WAL, PRZELICZNIK_WAL, OBL_WG_CEN_ZAK, CENA_NETTO, CENA_BRUTTO, UWAGI, AKT_CEN_PRZY_DOSTAWIE)
        VALUES (@ProductId, 2, '', 1, 0, @CENA_SPRZEDAZY_NETTO, @CENA_SPRZEDAZY_BRUTTO, '', 1);
    END

    IF (@CENA_SPRZEDAZY_NETTO_C IS NOT NULL AND @CENA_SPRZEDAZY_BRUTTO_C IS NOT NULL)
    BEGIN
        -- Upsert price C
        IF EXISTS (SELECT 1 FROM [dbo].[CENA_ARTYKULU] WHERE ID_ARTYKULU = @ProductId AND ID_CENY = 3)
        BEGIN
            UPDATE [dbo].[CENA_ARTYKULU]
            SET 
                SYM_WAL = '',
                PRZELICZNIK_WAL = 1,
                OBL_WG_CEN_ZAK = 0,
                CENA_NETTO = @CENA_SPRZEDAZY_NETTO_C,
                CENA_BRUTTO = @CENA_SPRZEDAZY_BRUTTO_C,
                UWAGI = '',
                AKT_CEN_PRZY_DOSTAWIE = 1
            WHERE ID_ARTYKULU = @ProductId AND ID_CENY = 3;
        END
        ELSE
        BEGIN
            INSERT INTO [dbo].[CENA_ARTYKULU] (ID_ARTYKULU, ID_CENY, SYM_WAL, PRZELICZNIK_WAL, OBL_WG_CEN_ZAK, CENA_NETTO, CENA_BRUTTO, UWAGI, AKT_CEN_PRZY_DOSTAWIE)
            VALUES (@ProductId, 3, '', 1, 0, @CENA_SPRZEDAZY_NETTO_C, @CENA_SPRZEDAZY_BRUTTO_C, '', 1);
        END
    END

    -- INSERT/UPDATE kodów kreskowych (wszystkie z listy)
    IF EXISTS (SELECT 1 FROM @Eans)
    BEGIN
        INSERT INTO dbo.KOD_KRESKOWY (
            [ID_MAGAZYNU],
            [KOD_KRESKOWY],
            [ID_ARTYKULU],
            [ID_JEDNOSTKI],
            [DOM_ILOSC],
            [OPIS],
            [PRZENOS_OPIS],
            [OPIS_CD])
        SELECT
            @ID_MAGAZYNU,
            Ean,
            @ProductId,
            0,
            1.0000,
            NULL,
            0,
            NULL
        FROM @Eans e
        WHERE NOT EXISTS(
            SELECT 1
            FROM dbo.KOD_KRESKOWY kk
            WHERE kk.KOD_KRESKOWY = e.Ean
              AND kk.ID_MAGAZYNU = @ID_MAGAZYNU);
    END

    -- INSERT/UPDATE DO MAGAZYNU GŁÓWNEGO. TWORZYMY ZE STANEM ZEROWYM, A PRZY UPDACIE NIE AKTUALIZUJEMY STANU
    IF EXISTS (SELECT 1 FROM [dbo].[ARTYKUL] WHERE INDEKS_KATALOGOWY = @INDEKS_KATALOGOWY and ID_MAGAZYNU = @ID_MAGAZYNUGLOWNEGO)
    BEGIN
        SET @ProductId = (SELECT ID_ARTYKULU FROM [dbo].[ARTYKUL] WHERE INDEKS_KATALOGOWY = @INDEKS_KATALOGOWY and ID_MAGAZYNU = @ID_MAGAZYNUGLOWNEGO)
        -- Update existing
        UPDATE [dbo].[ARTYKUL]
        SET
            NAZWA = LEFT(@NAZWA,40),
            NAZWA_ORYG = LEFT(@NAZWA,200),
            NAZWA2 = LEFT(SUBSTRING(@NAZWA, 41, LEN(@NAZWA)),190),
            KOD_KRESKOWY = @EAN,
            ID_CENY_DOM = @ID_CENY_DOM,
            CENA_ZAKUPU_BRUTTO = @CENA_ZAKUPU_BRUTTO,
            CENA_ZAKUPU_NETTO = @CENA_ZAKUPU_NETTO,
            WAGA = @WAGA,
            JED_WAGI = @JED_WAGI,
            NAZWA_INTRASTAT = LEFT(@NAZWA,250),
            PRODUCENT = @PRODUCENT,
            UWAGI = CAST(@CATEGORIES AS VARCHAR(1000)),
            POLE1 = CAST(@INTEGRATION_COMPANY + '-' + CAST(@ID_PRODUCENTA AS VARCHAR(20)) AS VARCHAR(100)),
            INDEKS_PRODUCENTA = @INDEKS_KATALOGOWY,
            INDEKS_HANDLOWY = isnull(@INDEKS_HANDLOWY,'')
        WHERE @ProductId = ID_ARTYKULU and ID_MAGAZYNU = @ID_MAGAZYNUGLOWNEGO;
    END
    ELSE
    BEGIN
        SET @ProductId = (SELECT ISNULL(MAX(ID_ARTYKULU),0) + 1 FROM [dbo].[ARTYKUL]);
        SET @ProductProdId =  ISNULL(
            (SELECT TOP 1 ID_ARTYKULU 
             FROM [dbo].[ARTYKUL] 
             WHERE INDEKS_KATALOGOWY = @INDEKS_KATALOGOWY
             ORDER BY ID_ARTYKULU), @ProductId
        );
        -- Insert new
        INSERT INTO [dbo].[ARTYKUL] 
        (
            ID_ARTYKULU, ID_ARTYKULU_Prod,
            ID_MAGAZYNU, ID_KATEGORII,
            ID_CENY_DOM, VAT_ZAKUPU, VAT_SPRZEDAZY,
            NAZWA, NAZWA_ORYG, NAZWA2,
            STAN, ILOSC_EDYTOWANA, OD_DOSTAWCOW, DO_ODBIORCOW,
            INDEKS_KATALOGOWY, INDEKS_HANDLOWY, RODZAJ, KOD_KRESKOWY,
            CENA_ZAKUPU_BRUTTO, CENA_ZAKUPU_NETTO, OSTRZEZENIE, POKAZUJ_OSTRZEZENIE,
            WAGA, JED_WAGI, PODLEGA_RABATOWANIU, NAZWA_INTRASTAT,
            PRODUCENT, ID_KATEGORII_TREE, UWAGI, DATA_ZM_CZ,
            LOKALIZACJA, SEMAFOR, INDEKS_PRODUCENTA, ID_JEDNOSTKI, ID_JEDNOSTKI_INTRASTAT,
            ID_JEDNOSTKI_REF, ID_JEDNOSTKI_SPRZ, ID_JEDNOSTKI_ZAK, POLE1
        )
        VALUES
        (
            @ProductId, @ProductProdId,
            @ID_MAGAZYNUGLOWNEGO, @ID_KATEGORII,
            @ID_CENY_DOM, @VAT_ZAKUPU, @VAT_SPRZEDAZY,
            LEFT(@NAZWA,40), CAST(@NAZWA AS VARCHAR(200)), LEFT(SUBSTRING(@NAZWA, 41, LEN(@NAZWA)),190),
            0, @ILOSC_EDYTOWANA, @OD_DOSTAWCOW, @DO_ODBIORCOW,
            LEFT(@INDEKS_KATALOGOWY,20),LEFT(isnull(@INDEKS_HANDLOWY,''),20), @RODZAJ, @EAN,
            @CENA_ZAKUPU_BRUTTO, @CENA_ZAKUPU_NETTO, @OSTRZEZENIE, @POKAZUJ_OSTRZEZENIE,
            @WAGA, @JED_WAGI, @PODLEGA_RABATOWANIU, CAST(@NAZWA AS VARCHAR(250)),
            @PRODUCENT, @ID_KATEGORII_TREE, CAST(@CATEGORIES AS VARCHAR(1000)), @DATE,
            @LOKALIZACJA, @SEMAFOR, @INDEKS_KATALOGOWY, isnull(@JM,1), isnull(@JM,1), isnull(@JM,1), isnull(@JM,1), isnull(@JM,1), CAST(@INTEGRATION_COMPANY + '-' + CAST(@ID_PRODUCENTA AS VARCHAR(20)) AS VARCHAR(100))
        );
    END

        -- Upsert price B
    IF EXISTS (SELECT 1 FROM [dbo].[CENA_ARTYKULU] WHERE ID_ARTYKULU = @ProductId AND ID_CENY = 2)
    BEGIN
        UPDATE [dbo].[CENA_ARTYKULU]
        SET 
            SYM_WAL = '',
            PRZELICZNIK_WAL = 1,
            OBL_WG_CEN_ZAK = 0,
            CENA_NETTO = @CENA_SPRZEDAZY_NETTO,
            CENA_BRUTTO = @CENA_SPRZEDAZY_BRUTTO,
            UWAGI = '',
            AKT_CEN_PRZY_DOSTAWIE = 1
        WHERE ID_ARTYKULU = @ProductId AND ID_CENY = 2;
    END
    ELSE
    BEGIN
        INSERT INTO [dbo].[CENA_ARTYKULU] (ID_ARTYKULU, ID_CENY, SYM_WAL, PRZELICZNIK_WAL, OBL_WG_CEN_ZAK, CENA_NETTO, CENA_BRUTTO, UWAGI, AKT_CEN_PRZY_DOSTAWIE)
        VALUES (@ProductId, 2, '', 1, 0, @CENA_SPRZEDAZY_NETTO, @CENA_SPRZEDAZY_BRUTTO, '', 1);
    END

    IF (@CENA_SPRZEDAZY_NETTO_C IS NOT NULL AND @CENA_SPRZEDAZY_BRUTTO_C IS NOT NULL)
    BEGIN
        -- Upsert price C
        IF EXISTS (SELECT 1 FROM [dbo].[CENA_ARTYKULU] WHERE ID_ARTYKULU = @ProductId AND ID_CENY = 3)
        BEGIN
            UPDATE [dbo].[CENA_ARTYKULU]
            SET 
                SYM_WAL = '',
                PRZELICZNIK_WAL = 1,
                OBL_WG_CEN_ZAK = 0,
                CENA_NETTO = @CENA_SPRZEDAZY_NETTO_C,
                CENA_BRUTTO = @CENA_SPRZEDAZY_BRUTTO_C,
                UWAGI = '',
                AKT_CEN_PRZY_DOSTAWIE = 1
            WHERE ID_ARTYKULU = @ProductId AND ID_CENY = 3;
        END
        ELSE
        BEGIN
            INSERT INTO [dbo].[CENA_ARTYKULU] (ID_ARTYKULU, ID_CENY, SYM_WAL, PRZELICZNIK_WAL, OBL_WG_CEN_ZAK, CENA_NETTO, CENA_BRUTTO, UWAGI, AKT_CEN_PRZY_DOSTAWIE)
            VALUES (@ProductId, 3, '', 1, 0, @CENA_SPRZEDAZY_NETTO_C, @CENA_SPRZEDAZY_BRUTTO_C, '', 1);
        END
    END

    -- INSERT/UPDATE kodów kreskowych (wszystkie z listy)
    IF EXISTS (SELECT 1 FROM @Eans)
    BEGIN

        INSERT INTO dbo.KOD_KRESKOWY (
            [ID_MAGAZYNU],
            [KOD_KRESKOWY],
            [ID_ARTYKULU],
            [ID_JEDNOSTKI],
            [DOM_ILOSC],
            [OPIS],
            [PRZENOS_OPIS],
            [OPIS_CD])
        SELECT
            @ID_MAGAZYNUGLOWNEGO,
            Ean,
            @ProductId,
            0,
            1.0000,
            NULL,
            0,
            NULL
        FROM @Eans e
        WHERE NOT EXISTS(
            SELECT 1
            FROM dbo.KOD_KRESKOWY kk
            WHERE kk.KOD_KRESKOWY = e.Ean
              AND kk.ID_MAGAZYNU = @ID_MAGAZYNUGLOWNEGO);
    END
END;