USE [TECHAGRO]
GO
/****** Object:  StoredProcedure [dbo].[UpsertProductImage]    Script Date: 11.11.2025 19:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[UpsertProductImage]
(
    @INDEKS varchar(max),                     -- article reference
    @DANE VARBINARY(MAX),                 -- image binary data
    @NAZWA_PLIKU NVARCHAR(255),           -- filename
    @SKIP_WHEN_EXISTS_IMAGES bit = 0
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Domysl BIT;
    IF (@SKIP_WHEN_EXISTS_IMAGES = 1 AND EXISTS(SELECT 1 FROM [dbo].[ARTYKUL_BLOB] WHERE @INDEKS = INDEKS_KATALOGOWY))
    BEGIN
        SELECT 1
    END
    ELSE
    BEGIN
        -- Delete old images (optional)
        DELETE FROM [dbo].[ARTYKUL_BLOB] 
        WHERE INDEKS_KATALOGOWY = @INDEKS AND NAZWA = @NAZWA_PLIKU;

        -- Check if any row exists for this index with DOMYSLNE = 1
        SELECT @Domysl = CASE WHEN EXISTS (
            SELECT 1 FROM [dbo].[ARTYKUL_BLOB] 
            WHERE INDEKS_KATALOGOWY = @INDEKS AND DOMYSLNE = 1
        ) THEN 0 ELSE 1 END;

        -- Insert new
        INSERT INTO [dbo].[ARTYKUL_BLOB]
        (
            INDEKS_KATALOGOWY,
            ZDJECIE,
            NAZWA,
            DOMYSLNE,
            GUID_ARTYKUL_BLOB,
            DOMYSLNE_AUKCJE,
            DOMYSLNE_ABSTORE,
            DOSTEPNE_ABSTORE,
            DOSTEPNE_AUKCJE
        )
        VALUES
        (
            LEFT(@INDEKS,20),
            @DANE,
            LEFT(@NAZWA_PLIKU, 100),
            @Domysl,
            NEWID(),
            0,
            0,
            1,
            1
        );
    END

END;
